{# pl_topic4task27/templates/my-nodes-page.html.twig #}
{% if nodes %}
  {% for node in nodes %}
    <h2>Title</h2>
    <p>{{ node.title }}</p>
    <h2>Created:</h2>
    <p>{{ node.created }}<p>
  {% endfor %}
{% else %}
  <h2>Нет данных</h2>
{% endif %}
